.centered-content{
    text-align: center;
}

.clickable{

}

.control-button{
    display: inline-block;
    background-color:#777777;
    width: 42px;
    height: 32px;
    border-radius: 2px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    transition: background-color 0.2s;
}

.control-button.clickable:hover {
    background-color:darkcyan;
}

.control-button.clickable:hover svg{
    fill:#DDDDDD;
}

.control-button svg{
    width: 21px;
    height: 21px;
    fill: #151515;
    margin-top: 5px;
    transition: fill 0.2s;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.is-hidden{
    display: none !important;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }

.time-container{
    display: inline-block;
    border-radius:8px;
    text-align: center;
    cursor: default;

}

.time-container-small{
    height: 28px;
    width: 52px;
    transition: width 2s, height 2s;
}

.time-container-large{
    height: 35px !important;
    width: 130px !important;
}

.time-input-box{
    width: 32px;
}

body{
    margin: 0px;
}

html{
    background-color: #2a2a2a;
}

#control-buttons-panel{
    margin-top: 10px;
    display: inline-block;
}

#directory-button{
    display:inline-block;
    background-color:#777777;
    height:28px;
    width:42px;
    border-radius:8px;
    cursor:not-allowed;
    transition: background-color 0.4s;
}

#directory-button.clickable:hover{
    background-color:darkcyan;
    cursor:pointer;
}

#directory-button.clickable:hover #folder-img{
    fill:#DDDDDD;
}

#folder-img{
    width: 24px;
    height: 24px;
    fill: #222222;
    transition: fill 0.2s;
}

#img-display{
    height: 60%;
}

#main-display{
    margin-top: 5px;
    margin-left:10px;
    margin-right:10px;
}

#main-footer{
    width: 100%;
    height: 75px;
}

#main-header{
    width: 100%;
    height: 50px;
    margin-bottom: 13px;
}

.main-header-box{
    display:inline-block;
}

#main-header-box-1{
    text-align: left;
}

#main-header-box-2{
    position: absolute;
    width: 250px;
    left: 50%;
    margin-left: -125px;
}

#main-header-box-3{
    text-align: right;
    position: absolute;
    right: 5px;
}

#next-img{
    transform: scaleX(-1);
}

#path-container{
    position:relative;
    left:0;
    display:inline-block;
}

#path-text{
    display: inline-block;
    color: #AAAAAA;
}

#status-display{
    color: #AAAAAA;
    font-style:italic;
    font-size:11px;
    margin-top: 3px;
}

#target-img{
    max-height: 100%;
    max-width: 100%;
}

#time-confirm-btn{
    display:inline-block;
    vertical-align:middle;
    margin-left:5px;
    cursor: pointer;
}

#time-confirm-img{
    height: 24px;
    width: 24px;
    fill:#AAAAAA;
    transition: fill 0.2s;
}

#time-container-display{
    cursor: not-allowed;
    background-color:#777777;
    height: 28px;
    width: 52px;
    transition: background-color 0.2s;
}

#time-container-display.clickable:hover{
    background-color:darkcyan;
    cursor: pointer;
}

#time-confirm-btn:hover #time-confirm-img{
    fill:limegreen;
}

#time-container-display #time-display{
    color: black;
    transition: color 0.2s;
}

#time-container-display.clickable:hover #time-display{
    color: #DDDDDD;
}

#time-container-input{
    background-color:#777777;
    height: 28px;
    width: 52px;
    transition: width 0.2s, height 0.2s;
}

#time-display{

}

#time-input{
    display:inline-block;
    margin-top: 3px;
}

#time-text{
    display: inline-block;
    vertical-align: sub;
}

