.centered-content{
    text-align:center;
}

#directory-select-btn{
    float: left;
    margin:10px;
}

#img-display{
    height: 60%;
}

#main-footer{
    width: 100%;
    height: 75px;
    background-color: white;
}

#main-header{
    width:100%;
    height:50px;
    background-color: white;
}

#target-img{
    max-height:100%;
    max-width:100%;
}

#time-display{
    float: right;
    margin:10px;
}

